<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} | L'Hexagraphe</title>
    
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    
    {{ $style := resources.Get "css/style.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
</head>
<body>
   <header>
      <h1><a href="/">L'Hexagraphe</a></h1>
      <nav class="magic-nav">
        <a href="/chroniques/">Chroniques</a>
        <a href="/univers/">Univers</a>
        <a href="/codex/">Codex</a>
      </nav>
    </header>

    <main>
        {{ block "main" . }}{{ end }}
    </main>

    <footer>
        <p>&copy; {{ now.Format "2006" }} L'Hexagraphe</p>
    </footer>

    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
</body>
</html>